In [1]:
# Pandas Data Cleaning and Exploratory Data Analysis (EDA)

In [2]:
import pandas as pd

## Upload Data

In [3]:
housing_header = ["HomeID", "HomeAge", "HomeSqft", "LotSize", "BedRooms", 
                  "HighSchoolAPI", "ProxFwy", "CarGarage", "ZipCode", "HomePriceK"]
df = pd.read_csv("fixed-housing-data.csv",names=housing_header)

In [4]:
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
0,1,24,1757,6056,2,899,3,3,94085,894
1,2,10,1563,6085,2,959,4,3,94085,861
2,3,14,1344,6089,2,865,4,3,94085,831
3,4,14,1215,6129,3,959,4,2,94085,809
4,5,24,1866,6141,3,877,4,1,94085,890

In [5]:
df.tail()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
95,96,11,1981,9350,4,912,2,1,95014,1307
96,97,10,1645,9352,4,942,3,3,95014,1336
97,98,21,1312,9456,4,915,4,3,95014,1284
98,99,19,1880,9470,3,857,3,3,95014,1269
99,100,11,1691,9476,4,857,4,0,95014,1250

Why did we only want to display the first 5 rows of the dataframe?

What if we wanted to see the size of this dataframe?

In [6]:
# number of rows
len(df)

100

In [7]:
# shape of df (rows, columns)
df.shape

(100, 10)

## Change Column Name(s)

Why would we want to change the column names?

In [8]:
df = df.rename(columns={'HighSchoolAPI': 'SchoolAPI'})
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,SchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
0,1,24,1757,6056,2,899,3,3,94085,894
1,2,10,1563,6085,2,959,4,3,94085,861
2,3,14,1344,6089,2,865,4,3,94085,831
3,4,14,1215,6129,3,959,4,2,94085,809
4,5,24,1866,6141,3,877,4,1,94085,890

## Create New Columns

What is new information about "Block_Location" that we can actually use and save?

Let's create new columns for the information we extracted from those values.

In [9]:
prices_2019 = [(price * 1.04) for price in df["HomePriceK"]]
df["Price2019"] = prices_2019
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,SchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK,Price2019
0,1,24,1757,6056,2,899,3,3,94085,894,929.76
1,2,10,1563,6085,2,959,4,3,94085,861,895.44
2,3,14,1344,6089,2,865,4,3,94085,831,864.24
3,4,14,1215,6129,3,959,4,2,94085,809,841.36
4,5,24,1866,6141,3,877,4,1,94085,890,925.60

In [10]:
prices_2020 = [(price * 0.9) for price in df["HomePriceK"]]
df["Price2020"] = prices_2020

#Check if it worked
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,SchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK,Price2019,Price2020
0,1,24,1757,6056,2,899,3,3,94085,894,929.76,804.6
1,2,10,1563,6085,2,959,4,3,94085,861,895.44,774.9
2,3,14,1344,6089,2,865,4,3,94085,831,864.24,747.9
3,4,14,1215,6129,3,959,4,2,94085,809,841.36,728.1
4,5,24,1866,6141,3,877,4,1,94085,890,925.60,801.0

## Drop Columns

In [11]:
df = df.drop("ProxFwy", axis = 1)
#Check if it dropped
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,SchoolAPI,CarGarage,ZipCode,HomePriceK,Price2019,Price2020
0,1,24,1757,6056,2,899,3,94085,894,929.76,804.6
1,2,10,1563,6085,2,959,3,94085,861,895.44,774.9
2,3,14,1344,6089,2,865,3,94085,831,864.24,747.9
3,4,14,1215,6129,3,959,2,94085,809,841.36,728.1
4,5,24,1866,6141,3,877,1,94085,890,925.60,801.0

In [12]:
aa= df.ZipCode.unique()
print(aa)

[94085 95051 94087 95014]

In [13]:
bb = df["CarGarage"].unique()
print(bb)

[3 2 1 0]

In [14]:
df.head()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,SchoolAPI,CarGarage,ZipCode,HomePriceK,Price2019,Price2020
0,1,24,1757,6056,2,899,3,94085,894,929.76,804.6
1,2,10,1563,6085,2,959,3,94085,861,895.44,774.9
2,3,14,1344,6089,2,865,3,94085,831,864.24,747.9
3,4,14,1215,6129,3,959,2,94085,809,841.36,728.1
4,5,24,1866,6141,3,877,1,94085,890,925.60,801.0

In [15]:
df.describe()

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,SchoolAPI,CarGarage,ZipCode,HomePriceK,Price2019,Price2020
count,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,17.200000,1615.280000,7840.500000,2.71000,904.430000,1.520000,94559.250000,1080.990000,1124.229600,972.891000
std,29.011492,4.925711,231.759719,1046.107306,0.71485,36.337713,1.234848,475.816351,146.533583,152.394926,131.880224
min,1.000000,10.000000,1215.000000,6056.000000,2.00000,850.000000,0.000000,94085.000000,809.000000,841.360000,728.100000
25%,25.750000,12.750000,1411.500000,7024.250000,2.00000,875.750000,0.000000,94086.500000,940.000000,977.600000,846.000000
50%,50.500000,17.000000,1606.500000,7822.000000,3.00000,900.500000,2.000000,94550.500000,1100.000000,1144.000000,990.000000
75%,75.250000,21.250000,1836.000000,8839.250000,3.00000,936.000000,3.000000,95023.250000,1191.000000,1238.640000,1071.900000
max,100.000000,25.000000,1994.000000,9476.000000,4.00000,975.000000,3.000000,95051.000000,1336.000000,1389.440000,1202.400000

Let's look at the different types of offenses that were called in. We know that using the .unique() function will return all the unique values in the column, but what if we wanted to also <b>count</b> the different times each unique value appeared?

In [16]:
df.ZipCode.value_counts()

95051    25
95014    25
94087    25
94085    25
Name: ZipCode, dtype: int64

In [17]:
df.CarGarage.value_counts()

3    32
0    31
2    19
1    18
Name: CarGarage, dtype: int64

## GroupBy

In [18]:
df1 = df.groupby("ZipCode").CarGarage.value_counts()
print(df1)

ZipCode  CarGarage
94085    3             8
         1             7
         2             6
         0             4
94087    0             9
         1             7
         3             5
         2             4
95014    3            11
         0             9
         2             3
         1             2
95051    0             9
         3             8
         2             6
         1             2
Name: CarGarage, dtype: int64

## More about GROUP BY
"This grouped variable is now a GroupBy object. It has not actually computed anything yet except for some intermediate data about the group key df['key1']. The idea is that this object has all of the information needed to then apply some operation to each of the groups." - Python for Data Analysis

In [19]:
#Use list() to show what a grouping looks like

df.groupby("ZipCode")

Descriptive statistics by group

In [20]:
#returns a dict of your groups
cc = df.groupby("ZipCode").groups
print(cc)

{94085: Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17,
            19, 20, 21, 22, 24, 25, 26, 28],
           dtype='int64'), 94087: Int64Index([40, 41, 45, 47, 48, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 66, 67,
            68, 69, 71, 74, 75, 77, 78, 79],
           dtype='int64'), 95014: Int64Index([65, 70, 72, 73, 76, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91,
            92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64'), 95051: Int64Index([15, 18, 23, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 43,
            44, 46, 49, 50, 51, 52, 54, 58],
           dtype='int64')}

In [21]:
aa = df.groupby("ZipCode").HomePriceK.describe()

In [22]:
print(aa)

         count     mean        std     min     25%     50%     75%     max
ZipCode
94085     25.0   885.96  34.408671   809.0   865.0   894.0   912.0   934.0
94087     25.0  1151.48  28.133788  1103.0  1128.0  1150.0  1179.0  1190.0
95014     25.0  1263.32  38.518091  1194.0  1240.0  1269.0  1288.0  1336.0
95051     25.0  1023.20  46.984927   942.0   991.0  1030.0  1068.0  1097.0

In [23]:
df.groupby("ZipCode").LotSize.describe()

         count     mean         std     min     25%     50%     75%     max
ZipCode
94085     25.0  6531.48  366.680279  6056.0  6183.0  6514.0  6870.0  7098.0
94087     25.0  8279.68  467.047439  7426.0  7958.0  8348.0  8585.0  8974.0
95014     25.0  9145.28  275.174266  8446.0  9095.0  9211.0  9337.0  9476.0
95051     25.0  7405.56  359.942134  6680.0  7181.0  7339.0  7693.0  8096.0

In [24]:
df.groupby("BedRooms").HomePriceK.describe()

,count,mean,std,min,25%,50%,75%,max
BedRooms,,,,,,,,
2,44.0,1026.659091,120.051141,831.0,917.0,1027.0,1138.0,1242.0
3,41.0,1068.365854,139.938693,809.0,949.0,1075.0,1181.0,1275.0
4,15.0,1274.866667,40.051514,1205.0,1251.0,1284.0,1297.0,1336.0

In [25]:
df.groupby("ZipCode").SchoolAPI.describe()

         count    mean        std    min    25%    50%    75%    max
ZipCode
94085     25.0  907.00  38.223030  851.0  877.0  904.0  935.0  966.0
94087     25.0  899.24  33.121343  850.0  876.0  890.0  927.0  962.0
95014     25.0  894.80  32.430695  850.0  862.0  889.0  924.0  942.0
95051     25.0  916.68  39.359158  853.0  891.0  918.0  949.0  975.0